{% extends "base.html" %}

{% block title %} Project Update {% endblock %}
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<!-- Popper JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
   {% block content %}
  <div class="container">
     <h2 align="center">Update Task </h2>
     <br><br>
     <form method="POST">
         {% csrf_token %}
         <h4> Task Name : {{form.name}} </h4>
         <button type="submit" class="btn btn-success">Update</button>
     </form>
 </div>
 <br>
 <div class="container">
  <h4 align="center"><a href="/{{tasks.id}}/taskchild/" class="btn btn-info" role="button">Add Child task</a></h4>
<br>
<hr>
<div class="container">
    <p>Parent Task: {{ tasks.name}}</p>
    {%for child in childs %}
    <p> Child Task: <a href = "/{{child.id}}/taskchild/">{{child.name}}</a></p>
    {% endfor %}
 </div>
  {% endblock %}
   
   
</body>
</html>